body, html {
    height: 100%;
}

.header {
	height: 15%;
}

.main { 
    height: 85%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
	height: 80%;
}