body, html {
    height: 100%;
}

.header {
	height: 5%;
}

.main { 
    height: 95%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
	height: 90%;
}